{
    "$schema": "https://json.schemastore.org/prettierrc",
    "printWidth" : 100,
    "singleQuote": true,
    "useTabs": false,
    "semi": true,
    "tabWidth": 4,
    "bracketSpacing": true,
    "endOfLine": "lf"
}
